esp32/.pio
esp32/.vscode/.browse.c_cpp.db*
esp32/.vscode/c_cpp_properties.json
esp32/.vscode/launch.json
esp32/.vscode/ipch

**/.DS_Store
**/__pycache__/
ios-app/*.swp
ios-app/*.xcuserstate
ios-app/xcuserdata/
ios-app/DerivedData/
ios-app/build/
ios-app/*.hmap
ios-app/*.ipa
ios-app/*.dSYM.zip
ios-app/*.dSYM
# iOS - User-specific data only
ios-app/*.xcuserstate
ios-app/xcuserdata/
ios-app/BikeComputer.xcuserdata/
*.xcuserdatad/

.vscode/
esp32-bike-computer.code-workspace

IceNav-v3/
IceNav-v3/.pio
IceNav-v3/.vscode/.browse.c_cpp.db*
IceNav-v3/.vscode/c_cpp_properties.json
IceNav-v3/.vscode/extensions.json
IceNav-v3/.vscode/launch.json
IceNav-v3/.vscode/ipch
IceNav-v3/.vscode/settings.json
IceNav-v3/assets
IceNav-v3/tools/*.raw
IceNav-v3/tools/*.png
waveshare_test/.pio
waveshare_test/

# OSM_Extract/
OSM_Extract/maps/
OSM_Extract/pbf
OSM_Extract/__pycache__
OSM_Extract/conf/test*

backend/.venv/
backend/data/*
!backend/data/.gitkeep

# waveshare_demo/
waveshare_demo//IceNav-v3/
