esp32/.pio
esp32/.vscode/.browse.c_cpp.db*
esp32/.vscode/c_cpp_properties.json
esp32/.vscode/launch.json
esp32/.vscode/ipch

**/.DS_Store
ios-app/*.swp
ios-app/*.xcuserstate
ios-app/xcuserdata/
ios-app/DerivedData/
ios-app/build/
ios-app/*.hmap
ios-app/*.ipa
ios-app/*.dSYM.zip
ios-app/*.dSYM

.vscode/
esp32-bike-computer.code-workspace

IceNav-v3/

OSM_Extract/